# Swift Package Manager
.build/
Packages/
Package.resolved
xcuserdata/
*.xcodeproj
DerivedData/

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xcscmblueprint
*.xcscheme
!xcshareddata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Linux
*~

# Backup files
*.swp
*.bak
*.tmp
*.orig
*~.nib

# IDE
.idea/
.vscode/
*.swiftpm
*.swo

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build

# Accio
Dependencies/
.accio/
