# Gradle
.gradle/
build/
*/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
local.properties
*.iml
.externalNativeBuild
.cxx

# iOS/macOS
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store
xcuserdata/

# Kotlin
*.kotlin_module

# IDE
.idea/
*.swp
*.swo
*~

# Other
.kotlin/
